<footer class="footer p-4">
    <div class="container">
        <a target="_blank" href="https://github.com/mahfuz-ahmed">
            <img src="../../../../assets/img/github1.png" alt="">
        </a>
        <a target="_blank" href="https://www.linkedin.com/in/the-mahfuz-ahmed/">
            <img src="../../../../assets/img/linkdin1.png" alt="">
        </a>
        <a target="_blank" href="https://www.facebook.com/mahfuzahmed.riko">
            <img src="../../../../assets/img/facebook.png" alt="">
        </a>
    </div>
</footer>
