
a{
    margin-top: 15px;
    padding: 5px;
    text-decoration: none;
    color: aliceblue;
}
iframe {
    width: 100%;
    border-radius: 20px;
    max-width: 600px; /* Adjust maximum width as needed */
    margin: 0 auto; /* Center the map horizontally */
}

.card{
    backdrop-filter: blur(10px);
    background-color: #10192b;
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 8px 32px 0 rgba(200, 0, 205, 0.27);
    transition: box-shadow 0.3s ease-in-out; /* Adding transition effect */
}

.card:hover{
    box-shadow: 0 16px 48px 0 rgba(200, 0, 205, 0.4); /* Adjusting box-shadow on hover */
    /* transform: translate(+1px); */
}