
<div class="container mt-4">
    <h4 style="text-align: center; color: #3bbef8;">About Me</h4>
    <div class="row">
        <div class="col-md-2 " >
            <img style="height: 320px; background-color: #94a3b8;" src="../../../../assets/img/mahfuz.png" alt="">
        </div>
        <div class="text col-md-9 mt-5">
            <h4 style="color: #94a3b8">I'm Mahfuz Ahmed</h4>
            <p style="color: #94a3b8; text-align: justify;">
                I’ve solved 100+ problems in URI online judge. I love to write clean code and follow best practices.
                I can learn technologies very quickly. Seeking a position to become a reliable software engineer 
                where I will be able to learn and apply core software engineering architectures and reliable system development principles.
            </p>
            <h4 style="color: #94a3b8;">BSc In CSE</h4>
            <p style="color: #94a3b8;">Daffodil International University,Dhaka,Bangladesh</p>
            <h4 style="color: #94a3b8;">Professional Experience</h4>
            <p style="color: #94a3b8;">01 Nov 2022 to Now at Al-Hiyal Automation Ltd.</p>
        </div>
    </div>
</div>
