<body>
  <div class="container mt-3">
    <div class="row mt-4 p-4">
      <div class="content col-md-12 m">
        <h4>Employment History</h4>

        <!-- Alhiyal Automation Ltd. -->
        <h5>Alhiyal Automation Ltd. | Dhaka, Bangladesh</h5>
        <p><strong>Software Engineer | Nov 22 - July 2025</strong></p>

        <h6>File Care (In-House SASS)</h6>
        <ul>
          <li>
            Developed a document management system akin to Google Drive using
            Angular, ASP.NET Core Web API, and MSSQL.
          </li>
          <li>
            Implemented a SignalR Hub for real-time notifications, storage
            updates, assignments, and user notifications.
          </li>
          <li>
            Developed features for document uploads, multi-user roles, recycle
            bin, authentication, authorization, and subscription handling.
          </li>
          <li>
            Integrated ClamDemon for virus and threat protection during file
            uploads.
          </li>
          <li>
            Created an IronOcr service for text extraction, enabling advanced
            search capabilities from documents.
          </li>
          <li>
            Implemented document/media conversion with Blob storage support and
            ZIP compression for local/cloud storage.
          </li>
          <li>
            Developed anonymous file sharing with expiry-based access and
            activity tracking for users.
          </li>
        </ul>

        <h6>
          File Approval Tracking System (Client-Based - Padakhep Manabik Unnayan
          Kendra)
        </h6>
        <ul>
          <li>
            Maintained and upgraded a live WebForms system to ASP.NET Core Web
            API and Angular, boosting performance.
          </li>
          <li>
            Developed scalable APIs and an Angular-based admin panel with roles,
            permissions, reports, pending tasks, and dashboards.
          </li>
          <li>
            Optimized the workflow and admin panel in the production system,
            improving UI/UX and system performance.
          </li>
        </ul>

        <h6>Enigma (Client-Based - Unilever Bangladesh)</h6>
        <ul>
          <li>
            Developed a competitor pricing module for analyzing product prices
            against market competitors and generating reports.
          </li>
          <li>
            Designed and built functionality to upload, validate, and process
            large Excel files with bulk insert for high performance.
          </li>
        </ul>
      </div>
    </div>
  </div>
</body>
