<div class="mt-4" style="background-color: #101b2f">
    <div class="container"> 
        <div>
          <h3 style="text-align: center;color: #3bbef8;">Projects</h3>
        </div>
        <div class="card-group mt-4">
            <div class="card" style="margin-right: 10px;">
              <img class="card-img-top" src="../../../../assets/img/SMS.png" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">School Management System</h5>
                <p class="card-text">Manages student and teachers Information. Users can create and store new students and teachers with their address, class, shift.
                     Only the head teacher has admin access. Admin can remove or edit users.</p>
                <a target="_blank" href="https://github.com/mahfuz-ahmed/School_Management_System">
                <button class="btn">View Project</button>
                </a>
              </div>
            </div>
            <div class="card"style="margin-right: 10px;">
              <img style="border-bottom: 1px solid gray;" class="card-img-top" src="../../../../assets/img/BloodDonation.jpg" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Blood Bank</h5>
                 <p class="card-text">Authenticated users can create and edit requests for blood and Admin can approve, delete requests. Admin and user have different views.
                     Anonymous users have to register to access the site.</p>
                     <a target="_blank" href="https://github.com/mahfuz-ahmed/Blood_Bank">
                      <button class="btn">View Project</button>
                    </a>
              </div>
            </div>
            <div class="card">
              <img class="card-img-top" src="../../../../assets/img/EC.jpg" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">My Shop</h5>
                <p class="card-text">It's a fully responsive ecommerce site and shows products on the home page.Users can click any product to show individual product details.
                    Registered users can add products to the cart. Hosted in netlify.</p>
                    <a target="_blank" href="https://myshopbd.netlify.app/">
                      <button class="btn">View Project</button>
                    </a>
              </div>
            </div>
          </div>
          <div class="card-group mt-4">
            <div class="card" style="margin-right: 10px;">
              <img class="card-img-top" src="../../../../assets/img/EC1.png" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Simple Ecommerce</h5>
                <p class="card-text">I have used React Hooks, Fake Api and JavaScript in this project.</p>
                <a target="_blank" href="https://mahfuz-cartlist.netlify.app/">
                  <button class="btn">View Project</button>
                </a>
              </div>
            </div>
            <div class="card"style="margin-right: 10px;">
              <img class="card-img-top" src="../../../../assets/img/portfolio.jpeg" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">My Portfolio</h5>
                 <p class="card-text">This is my Angular Portfolio Basically i used angular technology, html, css, bootstrap.</p>
                 <a target="_blank" href="https://mahfuzportfolio.netlify.app/">
                  <button class="btn">View Project</button>
                </a>
              </div>
            </div>
            <div class="card">
              <img class="card-img-top" src="../../../../assets/img/tmc.jpg" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Temperature Counter</h5>
                <p class="card-text">If you want any country or city temperature ..? The temperature-Counter will show the current temperature</p>
                <a target="_blank" href="https://mahfuz-ahmed.github.io/temperature-counter/">
                  <button class="btn">View Project</button>
                </a>
              </div>
            </div>
          </div>
    </div>
</div>