<div class="container mt-3">
    <h3 style="text-align: center;">Professional Experience</h3>
    <div class="row mt-4 p-4">
        <div class="content col-md-6">
            <h4>Technology</h4>
            <h5>Asp.Net</h5>
            <p>I'm the expert in this technology.Last two years i worked Asp.net Webform and Asp.Net Core Web api.</p>
            <h5>Design Pattern</h5>
            <p>Used Repository and Clean Architecture Design Pattern for developing Core Web Api</p>
            <h5>Angular</h5>
            <p>When i completed my web api then i start intrigration api in the angular project.</p>
        </div>
        <div class="content col-md-6">
            <h4>Descriptions</h4>
            <p>
                As the software engineer at Al-Hiyal Automation Ltd., I have undertaken the responsibility of developing web applications.
                 Recently, I successfully migrated an existing application from the outdated ASP.NET Web Forms technology to a modern 
                 stack, utilizing ASP.NET Core Web API and Angular. This revamped application now serves as our ERP solution, specifically 
                 tailored for digital file approval tracking.
            </p>
        </div>
    </div>
</div>
