
    <div class="container">
      <div class="row">
        <div class="col-md-12 mt-4">
          <div class="card p-4" style="background-color: #10192b;">
            <div class="d-flex">
              <div class="mt-2">
                <h2 class="mt-2" style="color: #3bbef8;">Welcome to my portfolio</h2>
                <p style="color: #94a3b8; text-align: justify;" >
                  I’ve solved 100+ problems in URI online judge. I love to write clean code and follow best practices.
                  I can learn technologies very quickly. Seeking a position to become a reliable software engineer 
                  where I will be able to learn and apply core software engineering architectures and reliable system development principles.
                </p>
                <div>
                  <button class="p-2 btn">Download Resume</button>
                  <a href="https://www.google.com" target="_blank" style="margin-right: 2px;" >
                    <img style="height: 51px;" src="../../../../assets/img/linkdin1.png" alt="">
                  </a>  
                  <a href="https://www.google.com" target="_blank">
                    <img style="height: 50px;" src="../../../../assets/img/github1.png" alt="">
                  </a>                                                         
                </div>
              </div>
              <div>
                <img style="height: 300px;" src="../../../assets/img/mahfuz.png" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    
